# This env variable should be set correctly before building client.
# 1. Deploy Server `npm run deploy:server`
# 2. Get the api gateway trpc endpoint
# 3. Set this env variable here
# 4. Deploy client `npm run deploy:client` or build it without syncing to S3 `npm run build:client`
VITE_TRPC_SERVER_URL="http://localhost:3000/trpc"
