## Configure AWS
AWS_ACCESS_KEY_ID="AKIAIOSFODNN7EXAMPLE"
AWS_SECRET_ACCESS_KEY="wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
AWS_PROFILE="cloudaxes-serverless" (optional)

# ----

REGION="eu-central-1"

# ----

STAGE="dev" # example: "dev" | "test" | "prod"
# when using "prod", requesting ec2 instances will return real valuese from aws.

# ----

## Set a Custom Domain Name as CDN DNS Alias (optional)
ACM_CERTIFICATE_ARN="arn:aws:acm:us-east-1:_____" # must be in us-east-1
DOMAIN_NAME="app.my-domain.com"
